@charset 'utf-8';

@import './assets/scss/reset';
@import './assets/scss/typography';
@import './assets/scss/colors';
@import './assets/scss/spatial';
@import './assets/scss/layout';
@import './assets/scss/components';

//Universal Styles
html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}