.container {
  input[placeholder='Title'] {
    border-bottom: 1px solid $dark-1 !important;
  }

  button {        
    &:hover {
      cursor: pointer;
    }
  }

  .sidebar {
    border-right: 1px solid $grey-1;
    
    .note {
      border-bottom: 1px solid $grey-1;
      
      &:hover {
        background-color: $light-2;
        cursor: pointer;
      }
    }
  }
}
