body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

.container {
  height: 90%;
  display: flex;
  
  button {
    display: inline-flex;
    place-items: center;
  }
  
  .sidebar {
    width: 25%;
  }

  .search {
    input {
      width: 100%;
    }
  }

  .notes {
    height: 74vh;
  }
  
  .note {
    .footer {
      display: flex;
      justify-content: flex-end;
    }
  }
  
  .content {
    width: 75%;

    h2 {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;

     .body {
        display: flex;
        flex-direction: column;
      }
      
      .footer {
        margin: 0 auto;
      }
    }
  }
}