@mixin reset-space {
  padding: 0;
  margin: 0;
}

body,
h1,
h2 {
  @include reset-space;
}

.container {
  // input:focus {
  //   border: 0;
  // }

  .content {
    .body {
      input {
        border: 0;
        &:focus {
          outline: 0;
        }
      }
      textarea:focus {
        outline: 0;
      }
    }
  
    .footer {
      button {
        border: 0;
      }
    }
  }
}

